<p>Group selects children</p>

<ng-select
	[items]="people"
	[multiple]="true"
	bindLabel="name"
	groupBy="gender"
	[selectableGroup]="true"
	[selectableGroupAsModel]="false"
	[closeOnSelect]="false"
	bindValue="id"
	[(value)]="selectedPeople">
	<ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
		<input id="item-{{ index }}" type="checkbox" [checked]="item35selected" /> {{ item.gender | uppercase }}
	</ng-template>
	<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
		<input id="item-{{ index }}" type="checkbox" [checked]="item38selected" /> {{ item.name }}
	</ng-template>
</ng-select>
